html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 1.5rem;
}

.gap-xl {
  gap: 2rem;
}

.rounded {
  border-radius: 50%;
}

.mt-1 {
  margin-top: 0.5rem;
}

.text-bold {
  font-weight: 700;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.3px solid #ddd;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  text-align: center;
  border-radius: 4px;
}

.grid-item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ff3938;
}

@media (max-width: 1440px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
